body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

header {
    background-color: lightslategray;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

footer {
    background-color: lightslategray;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}